body {
    font-family: sans-serif;
    background-image: url(Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
    background-color: #f0f0f0; /* Fallback color */
    display: flex; /* Optional: For centering content */
    flex-direction: column; /* Optional: For centering content */
    justify-content: center; /* Optional: Center vertically */
    align-items: center; /* Optional: Center horizontally */
}

/* Styles specifically for mobile */
@media (max-width: 767px) { 
    body {
        background-size: cover; 
    
        font-size: 16px; 
        
    }
}


@media (min-width: 768px) { 
    body {
        background-size: cover; 
    
        font-size: 18px; 
    }
}

h1 {
    font-family: 'Parisienne', cursive;
    color: #d32f2f;
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f8f5ef;
}

label {
    display: block;
    font-family: 'Parisienne', cursive;
    font-weight: 1000;
    color: #d32f2f;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
